@model testmid.Models.Data.CustomerSalesViewModel

<h2 class="my-4">Customer Details</h2>

<div class="card">
    <div class="card-header">
        <h4>Customer Information</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>
            <dt class="col-sm-3">Bought Cars Count</dt>
            <dd class="col-sm-9">@Model.BoughtCarsCount</dd>
          
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
